.wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.text {
    width: 40%;
}

.list {
    display: flex;
    flex-direction: raw;
    gap: 10px;
    padding: 0;
    list-style: none;
}

.link {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover,
.link:focus {
    background-color: #303f9f;
}